$roboto-font-stack: 'Roboto', sans-serif !default;
$oswald: 'Oswald', sans-serif;

$p-color: #0C5716;
$s-color: #13FDE1;
$contrast: #303036;

$primary-color: #1C344C;
$secondary-color: #91C46C;
$s-test: #71C463;
$primary-accent: #287D7D;
$secondary-accent: #C6E070;
$offWhite: #F8F8F8;
$background: $offWhite;

// old variable
$header-color: #B38535;
$header-dark: darken($header-color, 35%);